<div class="container">
  <div class="hotel-header">
    <div>
      <h5>{{hotelDetail.name}}</h5>
      <small>{{hotelDetail.address}}</small>
    </div>  
  </div>

  <div class="row" style="text-align: center">
    <div class="col-12">
      <div class="card-body mobile-view">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let image of hotelDetail.images; let i =index; let first = first"
              [ngClass]="{'active': first}">
              <img class="carousel-image" [src]="image" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="card-body landscape-view">
        <div class="row">
          <div class="col-4" *ngFor="let image of hotelDetail.images; let i =index; let first = first">
            <img class="landscape-image" [src]="image" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="panel panel-default border">
        <div class="panel-body">
          <div [ngClass]="{'limitTextHeight': isReadMore}" style="white-space:pre-wrap;">{{hotelDetail.description}}</div>
          <span (click)="showText()" class="read-more-link">
            {{ isReadMore ? 'Read More': 'Read Less' }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="panel panel-default border">
        <div class="panel-body" style="vertical-align:auto;">
          <h6>Facilities</h6>
            <div class="facility-item" *ngFor="let facility of hotelDetail.features">
              <span [ngSwitch]="facility.name">
                <span class="material-symbols-outlined" *ngSwitchCase="'50 m from city center'">near_me</span>
                <span class="material-symbols-outlined" *ngSwitchCase="'500 m from city center'">near_me</span>
                <span class="material-symbols-outlined" *ngSwitchCase="'Travel Sustainable Property'">travel_explore</span>
                <span class="material-symbols-outlined" *ngSwitchCase="'Managed by a private host'">double_arrow</span>
                {{facility.name}}
              </span>              
            </div>
        </div>
      </div>      
    </div>
  </div>

  <div class="row" *ngFor="let room of hotelDetail.rooms">
    <div class="col-12">
      <div class="panel panel-default border">
        <div class="panel-body">
          <h6 class="room-name">{{room.roomType?.name}}</h6>
          <span>Price for: </span><span *ngFor="let adult of [].constructor(room.adultCount)"
            class="material-symbols-outlined">person</span>
          <div *ngFor="let bed of room.roomType?.beds">
            <div [ngSwitch]="bed.bedTypeName">
              <span *ngSwitchCase="'Single'" class="material-symbols-outlined">filter_1</span>
              <span *ngSwitchCase="'Double'" class="material-symbols-outlined">filter_2</span>
              <span *ngSwitchCase="'Queen'" class="material-symbols-outlined">filter_3</span>
              <span *ngSwitchCase="'King'" class="material-symbols-outlined">filter_4</span>
              <span>{{bed.numberOfBeds}} {{bed.bedTypeName}} beds</span>
            </div>
          </div>

          <div>
            <span class="border border-primary feature-item" *ngFor="let feature of room.roomType?.features">
              <span class="material-symbols-outlined">star</span> {{feature}}
            </span>
          </div>

          <div *ngFor="let choice of room.choices">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="green" class="bi bi-check" viewBox="0 0 20 20">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg>
            <span class="room-choice">{{choice}}</span>
          </div>

          <div class="row">
            <div class="col-12">
              Price for {{getDateDiff(request.checkInDate, request.checkOutDate)}} night(s):
            </div>            
          </div>
          <div class="row">
            <div class="col-12">
              <span class="price-detail">
                <h3>
                <strong>€ {{getNightsPrice(request.checkInDate, request.checkOutDate, room.price)}}</strong>
              </h3>
              </span>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>